<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>learn fckn vocabulary</title>

  <!-- Подключаем шрифты -->
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto&display=swap" rel="stylesheet">

  <!-- Подключаем кастомный CSS -->
  <link href="/public/output_final.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <h1 class="text-3xl font-bold mb-2.3">LEARN FCKN VOCABULARY</h1>
        <p class="text-base font-light text-black mb-8">попробуй только не выучить</p>

    <div class="btn-wrapper">
      <a href="/translate" class="btn-soft">ПЕРЕВЕДИ, ЧТОБЫ НИКОГДА НЕ ЗАПОМНИТЬ</a>
      <a href="/mywords" class="btn-soft">СОХРАНИЛ СЛОВА СЮДА, А НЕ В ГОЛОВУ</a>
      <a href="/quiznow" class="btn-soft">ПРОВЕРЬ РЕГРЕСС ЗА ДЕНЬ</a>
      <a href="/quizweek" class="btn-soft">ПРОВЕРЬ РЕГРЕСС ЗА НЕДЕЛЮ </a>
    </div>
  </div>

</body>
</html>